body {
    font-family: Roboto, arial, sans-serif;
    background-color: rgb(25, 25, 25);
    color: white;
}

h1 {
    padding: 0.5rem;
    text-align: center;
    font-size: 2rem;
}

h3, h4 {
    text-align: center;
}

a {
    color: rgb(83, 126, 197);
    text-decoration: none;
}

pre,
code {
    max-width: max-content;
    font-size: 1rem;
    margin-left: auto;
    margin-right: auto;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    background-color: rgb(81, 85, 126);
    border-radius: 10px;
    overflow: auto;
    word-wrap: normal;
    white-space: pre;
}

::-webkit-scrollbar {
    width: 0.5rem;
    height: 0.5rem;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
    border-radius: 20px;
}

#download_script {
    text-decoration: underline;
    color:rgb(255, 255, 255);
}